$main-section-bg-color:#000;
$main-slider-title-veryitalic-color:rgb(227, 187, 135);
$title-list-yellow-color:rgb(227, 187, 135);
$title-list-white-color:#fff;
$title-list-x-logo-color:#fff;
$custom-subtitle-bg-color:#000;
$custom-slider-content-title-color:rgb(227, 187, 135);
$custom-slider-product-title-color:#fff;
$custom-slider-product-price-color:rgb(227, 187, 135);
$new-products-section-bg-color:#000;
$prIconList-bg-color:#000;
$saveSale-write-color:#fff;
$signUp-color:#4c4c4c;
$signUp-btn-bg-color:#000;
$signUp-btn-color:#fff;
$signUp-input-color:#fff;
$readMagazine-bg-color:#000;
$readMagazine-content-color:#fff;
$readMagazine-date-bg-color:#111;
$readMagazine-dark-bg-color:#bc9c72;
$readMagazine-dark-color:#fff;
$readMagazine-dark-bg-hover-color:#eb9d37;
$readMagazine-title-hover-color:#bc9c72;
$readMagazine-commet-hover-bg-color:rgb(176, 167, 167);
$readMagazine-readMore-color:#bc9c72;
$readMagazine-readMore-hover-color:#eb9d37;
$ClientsOpinions-section-bg-color:#000;
$ClientsOpinions-section-testimonials-color:rgba(255,255,255,0.1);
$ClientsOpinions-section-clientDescription-color:#fff;
$ClientsOpinions-section-clientNameCommet-color:rgba(255,255,255,0.5);
$OurPartners-section-bg-color:#000;
$OurPartners-section-btn-bg-color:#bc9c72;
$OurPartners-section-btn-hover-bg-color:#e99d3b;
$OurPartners-section-partnersInfo-color:#fff;
$OurBrends-section-bg-color:#111111;
$OurBrends-section-color:#fff;
$OurBrends-section-brendsLine-bg-color:#514e4e;
$Footer-bg-color:#000;
$Footer-title-color:#fff;
$Footer-pages-color:rgba(255,255,255,.4);
$Footer-store-color:rgba(255,255,255,.4);
$Footer-hover-color:rgba(255,255,255,.8);


























