#details{
	.prDetails{
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		.prDetailsSlider{
			width: 40%;
			.mySwiperSlider{
			width: 100%;
			aspect-ratio: 1/.7;
			  border-radius: 7px;    
			  img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 7px;
				border: 2px solid green;
			  }
			}
			.sliderLittleImgWrapper{
				margin-top: 14px;
				border-radius: 7px;
				img{
					width: 100%;
					aspect-ratio: 1/.7;
					object-fit: cover;
					border-radius: 7px;
					cursor: pointer;
					border: 2px solid green;
				}
			}
		}
		.prInfo{
			width: 50%;
			color: white;
			.prTitle{
              font-size: 2rem;
			  font-family: normalOpenFont;
			}
			.stars{
				margin: 14px 0;
             svg{
				color: #eb9d37;
				margin: 0 2px;
			 }
			}
			.prPrice{
				font-size: 30px;
				margin: 10px 0 ;
				display: block;
			}
			.prevPriceLine{
				text-decoration: line-through;
			}
			.salePrice{
				font-size: 30px;
				margin: 10px 0 ;
				display: block;
			}
			.prDescription{
			 font-size: 17px;
			}
			.addToCartBtn,
			.buyItNow{
				background-color: transparent;
				border: none;
				font-size: 16px;
				color: white;
				display: block;
				padding: 16px 0;
				font-weight: 700;
				text-align: center;
				width: 100%;
				margin-top: 27px;
				cursor: pointer;
				transition: .5s;
			}
			.addToCartBtn {
			background-color: #333;
			&:hover{
				background-color:green}
			}
			.buyItNow{
				background-color: #eb9d37;
				&:hover{
					background-color: green;
				}
			}
		}
	}
}


// ====  Details  ===== section responsive start
@media only screen and (max-width: 900px) {
	#details{
		.prDetails{
		    flex-direction: column;
			.prDetailsSlider{
				width: 100%;
				margin-bottom: 30px;
			}
			.prInfo{
				width: 100%;
				text-align: center;
			}
		}
	}
}