.header{
	color:  white;
	font-family: normalOpenFont;
	position: sticky;
	top: 0;
	// top: -1px;
	left: 0;
	z-index: 999;
	// -webkit-transform: translate3d(0,0,0);
	// transform: translate3d(0,0,0);
		.nav{
			height: 110px;
			transition:  all .5s;
            padding: 0 10px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			// -webkit-transform: translate3d(0,0,0);
			// transform: translate3d(0,0,0);
			.logoHamburgerMenuWrapper{
			.hamburgerMenu{
				display: none;
			}
			.navLogo{
				font-size: 1rem;
				font-weight: 700;
			}    
		}
		
			  }
	}
		
		.header{	
			.navBlack{
				// background-color: black;
				height: 90px;
	          	}
			}


// ====  Header  ===== section responsive 900px
@media only screen and (max-width: 900px) {
	.header{
		background-color: black;
		.nav{
			.logoHamburgerMenuWrapper{
			.hamburgerMenu{
				display: block;
				font-size: 28px;
				cursor: pointer;
				margin-top: 5px;
			}
			.navLogo{
				font-size: .6rem;
				font-weight: 700;
			} 
		}
			  }
				}
				.navBlack{
					height: 100px;
				}
}