@import "../../../../colorsUsedSite/allColors.scss";

#OurBrends{
	background-color: $OurBrends-section-bg-color;
	color: $OurBrends-section-color;
		.OurBrendsWrapper{
         display: flex;
		 justify-content: space-between;
		 align-items: center;
		 font-size: 40px;
		 font-family: normalOpenFont;
		 height: 70px;
		 .title{
			width: 16rem;
			font-size: 40px;
			font-weight: 100;
            font-family: lessItalicMetaFont;
		 }
		 .brendsLine{
			width: 1px;
			height: 45px;
			margin: 0 7px;
			background-color: $OurBrends-section-brendsLine-bg-color;
			border: none;
		 }
		 .OurBrendsSlider{
		    width: calc(100% - 17rem);
			font-family: normalOpenFont;
			
		 }
		}
	}

		// ====  OurBrends  ===== component responsive start
@media only screen and (max-width: 900px) {
	#OurBrends{
			.OurBrendsWrapper{
			 font-size: 18px;
			 height: 70px;
			 .title{
				width: 8rem;
				font-size: 20px;
			 }
			 .brendsLine{
				height: 35px;
			 }
			 .OurBrendsSlider{
				width: calc(100% - 9rem);
				.brendTitle{
					height: 70px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			 }
			}
		}
}