@import "../../../../colorsUsedSite/allColors.scss";


.warpperCart{
	position: relative;
	.prImg{   
		img{
		width: 100%;
		aspect-ratio: 1/1.3;
		}
	}
		.prIconList{
			width: 100%;
			position: absolute;
			left: 0;
			bottom:148px;
			height: 0;
			z-index: -1;
			transition: all .3s;
			background-color: $prIconList-bg-color;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			font-size: 30px;
			color: white;
			.searchIcon,
			.heartIcon,
			.basketIcon{
				cursor: pointer;
			}
		}
	
	.prInfo{
		width: 100%;
		padding: 20px 0 30px;
		color: white;
		text-align: center;
		font-family: ormalOpenFont;
	    background-color: black;
		.prTitle{
			display: block;
		   font-size: 25px;
		}
		.prBrend{
			font-size: 20px;
			display: block;
			margin: 10px 0;
			&:hover{
				text-decoration: underline;
			}
		}
		.prPrice{
			font-size: 22px;
			display: block;
			margin-bottom: 14px;
		}
	}
	&:hover .prIconList{
	height: 50px;
	z-index: 0;
	}
}



// ====  product cart ===== section responsive start
@media only screen and (max-width: 900px) {
	.warpperCart{
			.prIconList{
				position: inherit;
				bottom:0;
				height: 50px;
			}
			.prInfo{
				padding: 10px 0;
			}
		}
		
}