@import "../../../../colorsUsedSite/allColors.scss";

#saveSale{
	.wrapperSaveSale{
		background-image: url("../../../../assets/images/saveSaleBgImg.webp");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
      .content{
		height: 90vh;
		width: 80%;
		margin: 0 auto;
	    display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color:  $saveSale-write-color;
		.italicTitle{
			font-family: veryItalicFont;
			font-size: 55px;
            font-weight: 200;
		}
		.title{
            font-family: lessItalicMetaFont;
			font-size: 55px;
			font-weight: 200;
			text-align: center;
		}
		.description{
			font-family: normalOpenFont;
			font-size: 15px;
		   padding: 14px;
		   margin-bottom: 30px;
		   text-align: center;
		   line-height: 25px;
		}
		.signUp{
		   display: flex;
           margin: 0 auto;
		   color: $signUp-color;
		 .inp{
			font-size: 20px;
			border-bottom: 3px solid $signUp-color;
			display: flex;
		    align-items: center;
		   .email{
			background-color: transparent;
			border: none;
			outline: none;
			color: $signUp-input-color;
			padding: 0 10px;
			font-size: 18px;
			font-family: normalOpenFont;
		   }
		}
		   .signUpBtn{
			background-color: #000;
			color: #fff;
			font-size: 15px;
			padding: 8px 37px;
			margin-left: 14px;
			border: none;
			cursor: pointer;
			font-family: normalOpenFont;
		   }
		}

	  }
	}
}
// ==== saveSale ===== section responsive start
@media only screen and (max-width: 900px) {
	#saveSale{
		.wrapperSaveSale{
		background-position: right;
		  .content{
			height: 70vh;
			.italicTitle{
				font-size: 40px;
			}
			.title{
				font-size: 35px;
				text-align: center;
			}
			.description{
				font-size: 15px;
				margin:15px 0 24px;
				text-align: center;
			}
			.signUp{
				margin: 0;
			 .inp{
				font-size: 15px;
			   .email{
				font-size: 14px;
			   }
			}
			   .signUpBtn{
				font-size: 12px;
				width: 65px;
                height: 33px;
				margin-left: 8px;
				padding: 0;
			   }
			}
	
		  }
		}
}
}