.dashboard{
	text-align: center;
	margin: 7px 0;
	font-size: 24px;
	font-weight: 700;
}
.dashList{
	padding: 14px;
	background-color: black;
	a{
		color: white;
		font-size: 20px;
		font-weight: 500;
		margin: 0 7px;
	}}